{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/register.css' %}">
    <title>Job Portal Registration</title>
</head>
<body>
    <div class="background-image">
        <div class="container">
            <h1>Create Your Account</h1>
            <form action="#" method="POST">
                <div class="input-group">
                    <label for="name">Full Name</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="input-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="input-group">
                    <label for="confirm-password">Confirm Password</label>
                    <input type="password" id="confirm-password" name="confirm-password" required>
                </div>
                <button type="submit">Register</button>
                <p id="para">Already have account ?</p>
                <button id="loginbtn"><a href="{% url 'jobseeker:login' %}">Login</a></button>

            </form>
        </div>
    </div>
</body>
</html>