body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://img.freepik.com/premium-photo/man-sits-table-with-laptop-looks-camera_662214-626533.jpg?w=740');
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 400px;
    margin: 100px  auto;
    /* margin-left:18rem; */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Adding transparency to the background color */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="email"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #2980b9;
}

p {
    text-align: center;
    margin-top: 15px;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}